@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Comfortaa";
  src: url("../public/Comfortaa/Comfortaa-Regular.ttf");
}
body {
  cursor: url("../public/startupdevcursor.png"), auto !important;
}
.startupdev {
  background: linear-gradient(
    to left,
    #357afa 20%,
    #ff7edc 40%,
    #ff7edc 60%,
    #357afa 80%
  );
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: startupdev 2s linear infinite;
  animation: startupdev 2s linear infinite;
  cursor: pointer;
}
.startupdev:hover {
  background: linear-gradient(
    to left,
    #357afa 20%,
    #ff7edc 40%,
    #ff7edc 60%,
    #357afa 80%
  );
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: startupdev 2s linear infinite;
  animation: startupdev 2s linear infinite;
  cursor: pointer;
}
.startupdev {
  font-weight: 600;
  font-size: 1.1em;
  text-align: center;
  color: #fff;
}
.startupdev::selection {
  background: #ff7edc33;
}

@-webkit-keyframes startupdev {
  to {
    background-position: 200% center;
  }
}

@keyframes startupdev {
  to {
    background-position: 200% center;
  }
}